### Third Task for Introduction to Python (Follow the Instructions diligently)

1. Save your notebook file as your name, your date of submission & email. E.g "Peter Okwukogu - 31-01-23 - pablo@altschoolafrica.com" - Score = 4 points

2. The assignment should be submitted to https://docs.google.com/forms/d/1PY44rjZHcF7sCiVaf7pdtJueWuR63CC_fthUnEdIdq8/edit - Score = 3 points

3. Submission Deadline: On or before 4pm, 8th of February, 2023 - Score = 3 points

1. Instantiate an empty list

In [1]:
empty_list = []

2. Read this dataset in this link https://drive.google.com/file/d/1RsvQK2dJ1THNXB8QK4t1kgd_d8-69ahG/view?usp=share_link into a dataframe

In [6]:
import pandas as pd

df = pd.read_csv("Best_Movie_by_Year_Netflix.csv")

3. Show the first 5 rows

In [7]:
df.head(5)

   index                 TITLE  RELEASE_YEAR  SCORE MAIN_GENRE MAIN_PRODUCTION
0      0       White Christmas          1954    7.5    romance              US
1      1  The Guns of Navarone          1961    7.5        war              US
2      2          My Fair Lady          1964    7.8      drama              US
3      3      Bonnie and Clyde          1967    7.7      drama              US
4      4           Dirty Harry          1971    7.7   thriller              US

4. Convert the column 'MAIN_GENRE' into a list

In [12]:
genres = list(df["MAIN_GENRE"])
print(type(genres))

<class 'list'>

5. How many elements of 'drama' are in the list created in question 4.

In [15]:
genres.count("drama")

22