## First Assessment Instructions

1. Submission Date: 3rd of May, 2023

2. Submission Link: https://bit.ly/first_assessment_DS

3. You must Submit Jupyter Notebook, not a PDF file, not a .py file, etc

### 1st Question

1. Download this dataset - https://bit.ly/read_dataset

2. Read the dataset into DataFrame

3. Display the first 5 rows

4. Score = 10

In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("data/nutrition_elderly.xls - EXO2.csv")
df.head()

,gender,situation,tea,coffee,height,weight,age,meat,fish,raw_fruit,cooked_fruit_veg,chocol,fat
0,2,1,0,0,151,58,72,4,3,1,4,5,6
1,2,1,1,1,162,60,68,5,2,5,5,1,4
2,2,1,0,4,162,75,78,3,1,5,2,5,4
3,2,1,0,0,154,45,91,0,4,4,0,3,2
4,2,1,2,1,154,50,65,5,3,5,5,3,2

### 2nd Question

1. Print a concise summary of the DataFrame

2. Score = 10

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            226 non-null    int64
 1   situation         226 non-null    int64
 2   tea               226 non-null    int64
 3   coffee            226 non-null    int64
 4   height            226 non-null    int64
 5   weight            226 non-null    int64
 6   age               226 non-null    int64
 7   meat              226 non-null    int64
 8   fish              226 non-null    int64
 9   raw_fruit         226 non-null    int64
 10  cooked_fruit_veg  226 non-null    int64
 11  chocol            226 non-null    int64
 12  fat               226 non-null    int64
dtypes: int64(13)
memory usage: 23.1 KB

### 3rd Question

1. The display from the second question will show all the columns have identical data types

2. Fix this by converting the column data types appropriately

3. The data types should appropriately fall within the following categories: Qualitative, Discrete quantitative & Continuous quantitative

4. Score = 10

In [13]:
df = df.astype({
    "gender": "category",
    "situation": "category",
    "tea": "category",
    "coffee": "category",
    "meat": "category",
    "fish": "category",
    "raw_fruit": "category",
    "cooked_fruit_veg": "category",
    "chocol": "category",
    "fat": "category",
    "age": "int64",
    "height": "float64",
    "weight": "float64",
})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            226 non-null    category
 1   situation         226 non-null    category
 2   tea               226 non-null    category
 3   coffee            226 non-null    category
 4   height            226 non-null    float64
 5   weight            226 non-null    float64
 6   age               226 non-null    int64
 7   meat              226 non-null    category
 8   fish              226 non-null    category
 9   raw_fruit         226 non-null    category
 10  cooked_fruit_veg  226 non-null    category
 11  chocol            226 non-null    category
 12  fat               226 non-null    category
dtypes: category(10), float64(2), int64(1)
memory usage: 9.9 KB