### Introduction to Python

### Starting with Documentation

In [ ]:
# Comments - Definition of comments:
#   - A comment is a line of text that begins with a # character.
#   - Comments are ignored by the interpreter.
#   - Comments can be placed anywhere in a program, but are usually placed at the end.

In [ ]:
my_name = 'Pablo' # Pablo is being assigned to my_name

In [8]:
print(my_name)

NameError: name 'my_name' is not defined

In [2]:
# Pablo is being assigned to my_name <--- bad comment
my_name = 'Pablo'

In [3]:
print(my_name) # Pablo is being printed

Pablo

### Commenting Out

In [1]:
# p = 'Pablo' # Pablo is being assigned to p
name_instructor = 'Pablo' # Pablo is being assigned to name_instructor

### Docstrings

1. They are ignored by the python interpreter

2. Three literal string

3. They are used for functions/modules

In [4]:
"""
This function is used to data analysis 

"""

'\nThis function is used to data analysis \n\n'

In [13]:
def greeter(): # function for greeting
    """ This function simply says 
    hello
    """ 
    print("Hello")

In [7]:
greeter()

Hello

### Introduction to Variables

In [12]:
# How to create a variable
# Create a label

In [13]:
x = 'Number' # x is the variable/label, it is assigned a value 'Number'

In [14]:
print(x)

Number

In [15]:
# Rules to creating labels for variables
# 1. Variable names can contain only letters, numbers, and underscores -
# Variables can start with letters and underscore but not numbers

In [16]:
name_student = 'Jeremiah' # Name of an Altschool Student

In [17]:
# Break rule 1 
1name_student = 'Trevor' # Name of an AltSchool Student

SyntaxError: invalid syntax (747080813.py, line 2)

In [18]:
# 2. Spaces are not allowed in variable names
# Underscores are used to seperate characters/words in variable names

In [19]:
# Break rule 2 
name student = "Yomi" # The AltSchool student that is whining me

SyntaxError: invalid syntax (3278194910.py, line 2)

In [10]:
# Part of the 2nd Rule
nameStudent = "Yomi" # The AltSchool student that is whining me

In [ ]:
# Rule 3(Guide): Avoid using reserved Python Keywords & function names
import 
print 
as 
not 
or 
and 
in 
is 
if 
else 
elif 
while 
for 
def 
class 
try 
except 
finally 
with 
yield 
from 
import 
as 
global 
nonlocal 
assert 
del 
pass 
continue 
break 
raise 
return 
lambda 
with 
async 
await

In [1]:
# Method or function call sum 
num_list = [1, 2, 3, 4, 5] # A list of numbers 
sum(num_list) # Used the sum function on the list

15

In [13]:
# Create a variable with a name sum
# sum = [1, 2, 3, 4, 5] # Assigned the list to the variable sum

In [ ]:
# Rule 4: Variable names should be descriptive 
my_country = 'Nigeria' # Nigeria has been assigned to my_country

In [ ]:
# Break the rule 
m_c = "Algeria" # Algeria has been assigned to m_c

In [ ]:
# Rule 5: Do not mix up similar letter and numbers in our variable labels

In [2]:
# Possible errors that can occur with variables 
message = "Please log in with your laptops"

In [3]:
print(mesage)

NameError: name 'mesage' is not defined

In [ ]:
# Variables are label 
# Label variable with the values you have in mind

In [5]:
print(message)

Please log in with your laptops

In [1]:
# Create a variable 
# Variable will have extra spaces(Whitespaces)
# Take away the whitespaces

In [2]:
my_location = "   Kaduna  "

In [3]:
print(my_location)

   Kaduna

In [4]:
sentence = ' hello  apple' # Variable with hello apple assigned
sentence.strip() # Using the strip method to remove the whitespaces

'hello  apple'

In [5]:
my_location = "Kaduna       "
print(my_location)

Kaduna

In [6]:
my_location.rstrip() # Removes a trailing white space on the right

'Kaduna'

In [7]:
my_location = "       Kaduna"

In [8]:
my_location

'       Kaduna'

In [9]:
my_location.lstrip() # Removes a trailing white space on the left

'Kaduna'

### Introduction to Strings

In [ ]:
# Series of letters, a single word, a single letter
# They are surrounded by quotes: single, double or triple
# Strings is a data type 
# Strings are immutable

In [6]:
# Create a variable
my_class = "Python"

In [7]:
type(my_class)

str

In [24]:
name = "Peter"
first_name = "Peter"
last_name = "Okwukogu"
alias = "Pablo"
job = """I am a data scientist & 
Data Science Instructor"""

In [10]:
type(job)

str

In [11]:
# Why single or double quotes 
rant = 'Miriam's laptop is a mac'

SyntaxError: invalid syntax (2221099425.py, line 2)

In [12]:
rant = "Miriam's laptop is a mac"

In [16]:
# import a data analysis library 
import pandas as pd # importing a pandas package for analysis

In [14]:
data_movies = pd.read_csv("/Users/pablo/Desktop/movies.csv") # Converting the dataset to a dataframe

In [15]:
data_movies.head()

,index,movie_name,year_of_release,category,run_time,genre,imdb_rating,votes,gross_total
0,1.0,The Godfather,(1972),R,175 min,"Crime, Drama",9.2,"1,860,471",$134.97M
1,2.0,The Silence of the Lambs,(1991),R,118 min,"Crime, Drama, Thriller",8.6,"1,435,344",$130.74M
2,3.0,Star Wars: Episode V - The Empire Strikes Back,(1980),PG,124 min,"Action, Adventure, Fantasy",8.7,"1,294,805",$290.48M
3,4.0,The Shawshank Redemption,(1994),R,142 min,Drama,9.3,"2,683,302",$28.34M
4,5.0,The Shining,(1980),R,146 min,"Drama, Horror",8.4,"1,025,560",$44.02M

In [16]:
data_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            99 non-null     float64
 1   movie_name       99 non-null     object
 2   year_of_release  99 non-null     object
 3   category         99 non-null     object
 4   run_time         99 non-null     object
 5   genre            99 non-null     object
 6   imdb_rating      99 non-null     float64
 7   votes            99 non-null     object
 8   gross_total      98 non-null     object
dtypes: float64(2), object(7)
memory usage: 7.1+ KB

In [19]:
data_movies['movie_name'].dtype # Checking the data type

dtype('O')

In [21]:
movie_names = data_movies['movie_name'].astype('string')

In [22]:
movie_names.dtype

string[python]

In [23]:
movie_names

0                                      The Godfather
1                           The Silence of the Lambs
2     Star Wars: Episode V - The Empire Strikes Back
3                           The Shawshank Redemption
4                                        The Shining
                           ...
94                                The Usual Suspects
95                                    Cool Hand Luke
96             Eternal Sunshine of the Spotless Mind
97                                       City Lights
98                                        The Matrix
Name: movie_name, Length: 99, dtype: string

In [ ]:
# Go to any data repository
# Get any data
# Read the first three rows (Pandas library)
# Take a screenshot and post it on the data science channel

In [1]:
# import the pandas library
import pandas as pd # importing the pandas module

In [ ]:
pd.

In [11]:
df = pd.read_csv(
    '/Users/pablo/Library/Mobile Documents/com~apple~CloudDocs/Documents - Peterâ€™s MacBook Pro - 1/GitHub/AltSchool Africa/auto-mpg.data', 
    sep = '\t',) # Read the dataset into a dataframe

In [12]:
df.head(3) # The first three rows

,18.0 8 307.0 130.0 3504. 12.0 70 1,chevrolet chevelle malibu
0,15.0 8 350.0 165.0 3693. 11...,buick skylark 320
1,18.0 8 318.0 150.0 3436. 11...,plymouth satellite
2,16.0 8 304.0 150.0 3433. 12...,amc rebel sst

In [25]:
name # A variable assigned the value Peter

'Peter'

In [32]:
num = 5 # 5 is assigned to the variable num

In [33]:
type(num)

int

In [34]:
dir(num)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [26]:
dir(name) # a function that lists all the possibilities of a data type

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [29]:
name.upper() # Using the upper method

'PETER'

In [30]:
# Format a string
# f-string
name

'Peter'

In [31]:
print(f'My name is {name}')

My name is Peter

In [36]:
# Formating using %s
print('My name is %s'% name)

My name is Peter

In [39]:
# String Concatenation 
first_name = 'Pablo'
last_name = 'Picasso'

first_name + " " + last_name

'Pablo Picasso'

In [42]:
# str - it is used for data type conversion
num_number = 10 
type(num_number)

int

In [43]:
num_string = str(num_number) # Converted the int to string 
type(num_string)

str

In [44]:
num_string

'10'

### Numeric Data type

In [40]:
# Int
# Float
# Compex

In [41]:
# Integers
num = 5 # 5 is assigned to num 
type(num)

int

In [ ]:
# The equal sign(the assignment operator)

In [45]:
num_string

'10'

In [46]:
# Convert num_string to int
num_number = int(num_string)

In [47]:
num_number

10

In [48]:
# Can we convert a string into an int
str_word = 'convert'

In [49]:
type(str_word)

str

In [50]:
str_num = int(str_word)

ValueError: invalid literal for int() with base 10: 'convert'

In [51]:
# Floats
# Are integers with decimal points
fl_num = 10.4 
type(fl_num)

float

In [52]:
# A string can be converted to a float
str_float = "20.5" # a string

In [53]:
type(str_float)

str

In [54]:
float_str = float(str_float) # converting a string to floats

In [56]:
float_str # The converted string

20.5

In [57]:
# Complex numbers 
# Has a real and an imaginary part
num_complex = 3 + 4j

In [58]:
type(num_complex)

complex

In [59]:
num_complex.real # Showing the real number

3.0

In [60]:
num_complex.imag

4.0

In [ ]:
# Numerical Operation
# +, -, *, /, %, //

In [ ]:
4 + 5
4 - 5
4 * 5
4 / 5
5 % 4 
5 // 4

In [61]:
4 + 5 # Addition

9

In [62]:
4 - 5 # Subtraction

-1

In [63]:
4 * 5 # Multiplication

20

In [71]:
4 / 6 # Division

0.6666666666666666

In [65]:
5 % 4 # Finding the remainder after dividing

1

In [77]:
5 // 1 # Divides but rounds to the closest whole number

5

In [72]:
# Augmented Assignment
x = 5

In [73]:
x = 5 + 2 
x

7

In [74]:
# Augment
x = 5
x += 2
x

7

### Review Meeting

In [1]:
# f-string - Makes values readable
player = "Enzo"

In [3]:
print(f"{player}!!!!!! The most explensive football player in the planet")

Enzo!!!!!! The most explensive football player in the planet

In [5]:
# Using %s
print("The most expensive player on earth is %s" % player)

The most expensive player on earth is Enzo

### Lists

In [1]:
# Elements - Popular term that I'll be using
# Items - Popular term that I'll be using

In [2]:
# List lets you store information. 
# You can also retrieve information from lists
# Inside a list, there can be different data types
# I can refer to a list as a collection
# A list is known for being inside a square bracket []
# A list can be separated by commas

In [3]:
# Create a list
class_names = ['Pablo', 27, 'Adeolu', 'Dara', 'Victor', 'Esther', 'Miriam', 'Trevor', False]

In [4]:
print(class_names)

['Pablo', 27, 'Adeolu', 'Dara', 'Victor', 'Esther', 'Miriam', 'Trevor', False]

In [5]:
type(class_names)

list

In [6]:
letters = 'This class is amazing' # a string assigned to letters

In [7]:
type(letters)

str

In [8]:
# Introduce the list function
list_letters = list(letters)

In [9]:
print(list_letters)

['T', 'h', 'i', 's', ' ', 'c', 'l', 'a', 's', 's', ' ', 'i', 's', ' ', 'a', 'm', 'a', 'z', 'i', 'n', 'g']

In [10]:
dir(class_names)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [11]:
# These numberings/Sequences/Indexes...start from 0

### Accessing lists/ List methods

In [12]:
class_names

['Pablo', 27, 'Adeolu', 'Dara', 'Victor', 'Esther', 'Miriam', 'Trevor', False]

In [13]:
print(class_names[3]) # Accessing element(s) in a list using index

Dara

In [14]:
print(class_names[-3])

Miriam

In [15]:
# You things all in together
print(f"{class_names[-3]} is one of the females in the live class")

Miriam is one of the females in the live class

In [16]:
# Possible index error for lists
class_names[14]

IndexError: list index out of range

In [17]:
# The current list
class_names

['Pablo', 27, 'Adeolu', 'Dara', 'Victor', 'Esther', 'Miriam', 'Trevor', False]

In [18]:
# Modify the list
class_names[1] = 'Yomi'

In [20]:
# The current list
print(class_names)

['Pablo', 'Yomi', 'Adeolu', 'Dara', 'Victor', 'Esther', 'Miriam', 'Trevor', False]

In [21]:
# Modify the list again
class_names[-1] = 'Oladayo'

In [22]:
print(class_names)

['Pablo', 'Yomi', 'Adeolu', 'Dara', 'Victor', 'Esther', 'Miriam', 'Trevor', 'Oladayo']

In [24]:
print(class_names[1])

Yomi

In [25]:
print(class_names[-1])

Oladayo

In [26]:
print(class_names[8])

Oladayo

In [27]:
# Adding to a list
class_names.append('Rosemary')

In [28]:
# The current list
print(class_names)

['Pablo', 'Yomi', 'Adeolu', 'Dara', 'Victor', 'Esther', 'Miriam', 'Trevor', 'Oladayo', 'Rosemary']

In [29]:
# Another way to create a list
# Initialize an empty list 
class_lastnames = []

In [30]:
print(class_lastnames)

[]

In [31]:
# Add to the list
class_lastnames.append('Oluwatuyi')

In [32]:
# The latest list
print(class_lastnames)

['Oluwatuyi']

In [33]:
print(class_names)

['Pablo', 'Yomi', 'Adeolu', 'Dara', 'Victor', 'Esther', 'Miriam', 'Trevor', 'Oladayo', 'Rosemary']

In [34]:
# Add to a list but we want to determine the position of the element
class_names.insert(4, 'Ayodele')

In [35]:
print(class_names)

['Pablo', 'Yomi', 'Adeolu', 'Dara', 'Ayodele', 'Victor', 'Esther', 'Miriam', 'Trevor', 'Oladayo', 'Rosemary']

In [36]:
class_lastnames

['Oluwatuyi']

In [37]:
class_lastnames.insert(0, 'Osho')

In [38]:
print(class_lastnames)

['Osho', 'Oluwatuyi']

In [39]:
# delete from a list
# Delete using del because you know the index you want removed
del class_names[0]

In [40]:
print(class_names)

['Yomi', 'Adeolu', 'Dara', 'Ayodele', 'Victor', 'Esther', 'Miriam', 'Trevor', 'Oladayo', 'Rosemary']

In [41]:
# Delete using pop
# Pop removes the last element in the list
# Pop will store the element removed in a variable
unavailable_names = class_names.pop()

In [42]:
print(class_names)

['Yomi', 'Adeolu', 'Dara', 'Ayodele', 'Victor', 'Esther', 'Miriam', 'Trevor', 'Oladayo']

In [43]:
unavailable_names

'Rosemary'

In [44]:
# When you use pop you can also specify the index of the element you want to remove
unavailable_names = class_names.pop(0)

In [45]:
unavailable_names

'Yomi'

In [46]:
# playing around
print(f"One student who is absent is {unavailable_names}")

One student who is absent is Yomi

In [47]:
# Remove elements using remove 
# Remove will remove the first instance of the element
class_names.remove('Esther')

In [48]:
print(class_names)

['Adeolu', 'Dara', 'Ayodele', 'Victor', 'Miriam', 'Trevor', 'Oladayo']

In [49]:
# The count method
# Count will return the number of times an element appears in a list
class_names.count('Dara')

1

In [51]:
# Play around 
import pandas as pd # the data analysis library

In [52]:
data_titanic = pd.read_csv('Titanic-Dataset.csv')

data_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [54]:
# The count method
# Count will return the number of times an element appears in a list
sex_data = data_titanic['Sex']

In [56]:
type(sex_data)

pandas.core.series.Series

In [57]:
sex_data = list(sex_data) # converting the series to a list

In [58]:
type(sex_data)

list

In [60]:
print(sex_data[:6])

['male', 'female', 'female', 'female', 'male', 'male']

In [61]:
# the count method
sex_data.count('male')

577

In [62]:
sex_data.count('female')

314

In [64]:
# Extend method 
# first list
females_class = ['Esther', 'Miriam', 'Rosemary', 'Dara', 'Oluwasayo'] 
guys_class = ['Oladayo', 'Yomi', 'Martins', 'Ayodele', 'Tobi', 'Idowu']

In [65]:
# Use extend
guys_class.extend(females_class)

In [67]:
print(guys_class)

['Oladayo', 'Yomi', 'Martins', 'Ayodele', 'Tobi', 'Idowu', 'Esther', 'Miriam', 'Rosemary', 'Dara', 'Oluwasayo']

In [68]:
# Sort lists
guys_class.sort() # Sorts in ascending order

In [69]:
print(guys_class)

['Ayodele', 'Dara', 'Esther', 'Idowu', 'Martins', 'Miriam', 'Oladayo', 'Oluwasayo', 'Rosemary', 'Tobi', 'Yomi']

In [70]:
# Sort has parameters
guys_class.sort(reverse=True)

In [71]:
print(guys_class)

['Yomi', 'Tobi', 'Rosemary', 'Oluwasayo', 'Oladayo', 'Miriam', 'Martins', 'Idowu', 'Esther', 'Dara', 'Ayodele']

In [72]:
guys_class

['Yomi',
 'Tobi',
 'Rosemary',
 'Oluwasayo',
 'Oladayo',
 'Miriam',
 'Martins',
 'Idowu',
 'Esther',
 'Dara',
 'Ayodele']

In [73]:
# Sort temporarily
# Main the original list
print(sorted(guys_class))

['Ayodele', 'Dara', 'Esther', 'Idowu', 'Martins', 'Miriam', 'Oladayo', 'Oluwasayo', 'Rosemary', 'Tobi', 'Yomi']

In [74]:
print(guys_class)

['Yomi', 'Tobi', 'Rosemary', 'Oluwasayo', 'Oladayo', 'Miriam', 'Martins', 'Idowu', 'Esther', 'Dara', 'Ayodele']

In [75]:
# Membership
'Yomi' in guys_class

True

In [76]:
# Length of list 
len(guys_class)

11

In [79]:
print(guys_class)

['Yomi', 'Tobi', 'Rosemary', 'Oluwasayo', 'Oladayo', 'Miriam', 'Martins', 'Idowu', 'Esther', 'Dara', 'Ayodele']

In [84]:
print(guys_class[7:11]) # Slicing

['Idowu', 'Esther', 'Dara', 'Ayodele']

In [93]:
# Explaining Slicing 
print(guys_class[:11])

['Yomi', 'Tobi', 'Rosemary', 'Oluwasayo', 'Oladayo', 'Miriam', 'Martins', 'Idowu', 'Esther', 'Dara', 'Ayodele']

In [92]:
guys_class[4:-3]

['Oladayo', 'Miriam', 'Martins', 'Idowu']

In [95]:
# Copy a list 
print(guys_class)

['Yomi', 'Tobi', 'Rosemary', 'Oluwasayo', 'Oladayo', 'Miriam', 'Martins', 'Idowu', 'Esther', 'Dara', 'Ayodele']

In [96]:
copy_guys_class = guys_class.copy()

In [97]:
print(copy_guys_class)

['Yomi', 'Tobi', 'Rosemary', 'Oluwasayo', 'Oladayo', 'Miriam', 'Martins', 'Idowu', 'Esther', 'Dara', 'Ayodele']

In [98]:
# Copy using slicing
guys_class_1 = guys_class[:]

In [99]:
print(guys_class_1)

['Yomi', 'Tobi', 'Rosemary', 'Oluwasayo', 'Oladayo', 'Miriam', 'Martins', 'Idowu', 'Esther', 'Dara', 'Ayodele']

### Looping

In [10]:
african_names = [
    'Ayomide', 'Okwukogu', 'Modise', 'Amina', 'Ewongo', 'Akachukwu', 'Chisom',
    'Osinmen', 'Elesho', 'Buhari', 'Obi', 'Mokgweetsi', 'KaborÃ©', 'Kagame', 'Damini'
]

In [6]:
# Write a simple loop
# Iterator variable 
for mimi in african_names:
    print(mimi.lower())

ayomide
okwukogu
modise
amina
ewongo
akachukwu
chisom
osinmen
elesho
buhari
obi
mokgweetsi
kaborÃ©
kagame
damini

In [10]:
for mimi in african_names:
    print(mimi.lower())
print('These are AltSchoolers') # Outside the indented block

ayomide
okwukogu
modise
amina
ewongo
akachukwu
chisom
osinmen
elesho
buhari
obi
mokgweetsi
kaborÃ©
kagame
damini
These are AltSchoolers

### Errors associated with indentations

In [12]:
# forgetting to indent
for mimi in african_names:
print(mimi.lower())

IndentationError: expected an indented block (584297877.py, line 3)

In [14]:
# Logical errors: Your program does not throw up an error
# However, it produces an unexpected result
# Indenting Unnecessarily
for mimi in african_names:
    print(mimi.lower())
    print('These are AltSchoolers')

ayomide
These are AltSchoolers
okwukogu
These are AltSchoolers
modise
These are AltSchoolers
amina
These are AltSchoolers
ewongo
These are AltSchoolers
akachukwu
These are AltSchoolers
chisom
These are AltSchoolers
osinmen
These are AltSchoolers
elesho
These are AltSchoolers
buhari
These are AltSchoolers
obi
These are AltSchoolers
mokgweetsi
These are AltSchoolers
kaborÃ©
These are AltSchoolers
kagame
These are AltSchoolers
damini
These are AltSchoolers

In [15]:
# Example of an unnecessary indentation 
name_altschool = 'School of data'
    print(name_altschool)

IndentationError: unexpected indent (4150371222.py, line 3)

In [16]:
# Forgetting to colon
for n in african_names
    print(n)

SyntaxError: invalid syntax (4200271555.py, line 2)

### Creating numerical lists

In [17]:
# The range function
range(9)

range(0, 9)

In [18]:
for value in range(9):
    print(value)

0
1
2
3
4
5
6
7
8

In [19]:
# Create a list filled with numbers
lst_num = list(range(1, 11))
print(lst_num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
for v in range(-23, 0):
    print(v)

-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

### List comprehension

In [25]:
%time square_num = [num ** 2 for num in range(1, 15)]
print(square_num)

CPU times: user 9 Âµs, sys: 1e+03 ns, total: 10 Âµs
Wall time: 11.9 Âµs
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [24]:
%time 2**128

CPU times: user 5 Âµs, sys: 1e+03 ns, total: 6 Âµs
Wall time: 9.06 Âµs

340282366920938463463374607431768211456

In [26]:
%time print('hello world')

hello world
CPU times: user 141 Âµs, sys: 49 Âµs, total: 190 Âµs
Wall time: 152 Âµs

### The difference between pop & del

In [1]:
# Create a list
realEstate_data = ['Swimming pools', 'Bungalows', 'Self-Contains', 'Gyms']

In [2]:
# Delete the Swimming Pool
del realEstate_data[0]

In [3]:
realEstate_data

['Bungalows', 'Self-Contains', 'Gyms']

In [4]:
# Take away Gyms but store them separately
gyms = realEstate_data.pop(2)

In [5]:
realEstate_data

['Bungalows', 'Self-Contains']

In [6]:
gyms

'Gyms'

In [7]:
#all_data = realEstate_data.pop()

TypeError: pop expected at most 1 argument, got 2

In [13]:
# Create this list again
realEstate_data = ['Swimming pools', 'Bungalows', 'Self-Contains', 'Gyms']

In [14]:
# Pop an item from your list
realEstate_data.pop()

'Gyms'

In [16]:
realEstate_data

['Swimming pools', 'Bungalows', 'Self-Contains']

In [17]:
# To put 'Gyms' back in your list
# Append
# Insert 
realEstate_data.append('Gyms')

In [18]:
realEstate_data

['Swimming pools', 'Bungalows', 'Self-Contains', 'Gyms']

In [19]:
del realEstate_data[0]

In [20]:
realEstate_data

['Bungalows', 'Self-Contains', 'Gyms']

In [21]:
realEstate_data.insert(0, 'Swimming pools')

In [22]:
realEstate_data

['Swimming pools', 'Bungalows', 'Self-Contains', 'Gyms']

### Tuples

In [9]:
# A tuple is created using ()
# A tuple is immutable 
# Tuples are ordered 

african_names_tup = (
    'Ayomide', 'Okwukogu', 'Modise', 'Amina', 'Ewongo', 'Akachukwu', 'Chisom',
    'Osinmen', 'Elesho', 'Buhari', 'Obi', 'Mokgweetsi', 'KaborÃ©', 'Kagame', 'Damini'
    )

In [11]:
type(african_names)

list

In [12]:
type(african_names_tup)

tuple

In [24]:
print(african_names_tup)

('Ayomide', 'Okwukogu', 'Modise', 'Amina', 'Ewongo', 'Akachukwu', 'Chisom', 'Osinmen', 'Elesho', 'Buhari', 'Obi', 'Mokgweetsi', 'KaborÃ©', 'Kagame', 'Damini')

In [25]:
# Add a new a African name 
african_names_tup[0] = 'Kaunda'

TypeError: 'tuple' object does not support item assignment

In [26]:
del african_names_tup[1]

TypeError: 'tuple' object doesn't support item deletion

In [31]:
# Work with a tuple 
# Methods: count, index
african_names_tup.count('KaborÃ©')

1

In [50]:
# Concatenating Tuple
id(african_names_tup)

140388558936000

In [51]:
african_names_tup = ('Ayomide', 'Okwukogu', 'Modise', 'Amina', 'Ewongo',
                     'Akachukwu', 'Chisom', 'Osinmen', 'Elesho', 'Buhari',
                     'Obi', 'Mokgweetsi', 'KaborÃ©')

In [52]:
id(african_names_tup)

140388554486544

In [53]:
t = ('Damini', 'Ugo')

In [54]:
type(t)

tuple

In [55]:
# Concat
african_names_tup += t

In [57]:
print(african_names_tup)

('Ayomide', 'Okwukogu', 'Modise', 'Amina', 'Ewongo', 'Akachukwu', 'Chisom', 'Osinmen', 'Elesho', 'Buhari', 'Obi', 'Mokgweetsi', 'KaborÃ©', 'Damini', 'Ugo')

In [58]:
# Create/Instantiate an empty list
lst_empty = []

In [59]:
type(lst_empty)

list

In [60]:
# Create an empty tuple
tup_empty = tuple()

In [61]:
tup_empty

()

In [46]:
# create one element in a tuple
one_tuple = ('Damini')

In [47]:
type(one_tuple)

str

In [48]:
one_tuple = ('Damini',)

In [49]:
type(one_tuple)

tuple

In [62]:
tup_empty = ()

In [63]:
type(tup_empty)

tuple

In [64]:
# Create a tuple
t_mySelf = ('Pablo', 'Kaduna', 26)

In [65]:
t_learn = ('Statistics', 'Tabular Structure')

In [66]:
# Concatenate the two tuples and show their individual ids

In [67]:
t_learn = list(t_learn)

In [68]:
type(t_learn)

list