### Introduction to Python

### Starting with Documentation

In [ ]:
# Comments - Definition of comments:
#   - A comment is a line of text that begins with a # character.
#   - Comments are ignored by the interpreter.
#   - Comments can be placed anywhere in a program, but are usually placed at the end.

In [ ]:
my_name = 'Pablo' # Pablo is being assigned to my_name

In [2]:
# Pablo is being assigned to my_name <--- bad comment
my_name = 'Pablo'

In [3]:
print(my_name) # Pablo is being printed

Pablo

### Commenting Out

In [1]:
# p = 'Pablo' # Pablo is being assigned to p
name_instructor = 'Pablo' # Pablo is being assigned to name_instructor

### Docstrings

1. They are ignored by the python interpreter

2. Three literal string

3. They are used for functions/modules

In [4]:
"""
This function is used to data analysis 

"""

'\nThis function is used to data analysis \n\n'

In [9]:
def greeter(): # function for greeting
    """ This function simply says 
    hello
    """ 
    print("Hello")

In [7]:
greeter()

Hello

### Introduction to Variables

In [12]:
# How to create a variable
# Create a label

In [13]:
x = 'Number' # x is the variable/label, it is assigned a value 'Number'

In [14]:
print(x)

Number

In [15]:
# Rules to creating labels for variables
# 1. Variable names can contain only letters, numbers, and underscores -
# Variables can start with letters and underscore but not numbers

In [16]:
name_student = 'Jeremiah' # Name of an Altschool Student

In [17]:
# Break rule 1 
1name_student = 'Trevor' # Name of an AltSchool Student

SyntaxError: invalid syntax (747080813.py, line 2)

In [18]:
# 2. Spaces are not allowed in variable names
# Underscores are used to seperate characters/words in variable names

In [19]:
# Break rule 2 
name student = "Yomi" # The AltSchool student that is whining me

SyntaxError: invalid syntax (3278194910.py, line 2)

In [10]:
# Part of the 2nd Rule
nameStudent = "Yomi" # The AltSchool student that is whining me

In [ ]:
# Rule 3(Guide): Avoid using reserved Python Keywords & function names
import 
print 
as 
not 
or 
and 
in 
is 
if 
else 
elif 
while 
for 
def 
class 
try 
except 
finally 
with 
yield 
from 
import 
as 
global 
nonlocal 
assert 
del 
pass 
continue 
break 
raise 
return 
lambda 
with 
async 
await

In [1]:
# Method or function call sum 
num_list = [1, 2, 3, 4, 5] # A list of numbers 
sum(num_list) # Used the sum function on the list

15

In [13]:
# Create a variable with a name sum
# sum = [1, 2, 3, 4, 5] # Assigned the list to the variable sum

In [ ]:
# Rule 4: Variable names should be descriptive 
my_country = 'Nigeria' # Nigeria has been assigned to my_country

In [ ]:
# Break the rule 
m_c = "Algeria" # Algeria has been assigned to m_c

In [ ]:
# Rule 5: Do not mix up similar letter and numbers in our variable labels

In [2]:
# Possible errors that can occur with variables 
message = "Please log in with your laptops"

In [3]:
print(mesage)

NameError: name 'mesage' is not defined

In [ ]:
# Variables are label 
# Label variable with the values you have in mind

In [5]:
print(message)

Please log in with your laptops

In [1]:
# Create a variable 
# Variable will have extra spaces(Whitespaces)
# Take away the whitespaces

In [2]:
my_location = "   Kaduna  "

In [3]:
print(my_location)

   Kaduna

In [4]:
sentence = ' hello  apple' # Variable with hello apple assigned
sentence.strip() # Using the strip method to remove the whitespaces

'hello  apple'

In [5]:
my_location = "Kaduna       "
print(my_location)

Kaduna

In [6]:
my_location.rstrip() # Removes a trailing white space on the right

'Kaduna'

In [7]:
my_location = "       Kaduna"

In [8]:
my_location

'       Kaduna'

In [9]:
my_location.lstrip() # Removes a trailing white space on the left

'Kaduna'

### Introduction to Strings

In [ ]:
# Series of letters, a single word, a single letter
# They are surrounded by quotes: single, double or triple
# Strings is a data type 
# Strings are immutable

In [6]:
# Create a variable
my_class = "Python"

In [7]:
type(my_class)

str

In [9]:
name = "Peter"
first_name = "Peter"
last_name = "Okwukogu"
alias = "Pablo"
job = """I am a data scientist & 
Data Science Instructor"""

In [10]:
type(job)

str

In [11]:
# Why single or double quotes 
rant = 'Miriam's laptop is a mac'

SyntaxError: invalid syntax (2221099425.py, line 2)

In [12]:
rant = "Miriam's laptop is a mac"

In [16]:
# import a data analysis library 
import pandas as pd # importing a pandas package for analysis

In [18]:
data_movies = pd.read_csv("/Users/pablo/Desktop/movies.csv") # Converting the dataset to a dataframe

In [19]:
data_movies.head()

,index,movie_name,year_of_release,category,run_time,genre,imdb_rating,votes,gross_total
0,1.0,The Godfather,(1972),R,175 min,"Crime, Drama",9.2,"1,860,471",$134.97M
1,2.0,The Silence of the Lambs,(1991),R,118 min,"Crime, Drama, Thriller",8.6,"1,435,344",$130.74M
2,3.0,Star Wars: Episode V - The Empire Strikes Back,(1980),PG,124 min,"Action, Adventure, Fantasy",8.7,"1,294,805",$290.48M
3,4.0,The Shawshank Redemption,(1994),R,142 min,Drama,9.3,"2,683,302",$28.34M
4,5.0,The Shining,(1980),R,146 min,"Drama, Horror",8.4,"1,025,560",$44.02M

In [20]:
data_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            99 non-null     float64
 1   movie_name       99 non-null     object
 2   year_of_release  99 non-null     object
 3   category         99 non-null     object
 4   run_time         99 non-null     object
 5   genre            99 non-null     object
 6   imdb_rating      99 non-null     float64
 7   votes            99 non-null     object
 8   gross_total      98 non-null     object
dtypes: float64(2), object(7)
memory usage: 7.1+ KB