### Second Task for Introduction to Python (Follow the Instructions diligently)

1. Save your notebook file as your name, your date of submission & email. E.g "Peter Okwukogu - 31-01-23 - pablo@altschoolafrica.com" - Score = 4 points

2. The assignment should be submitted to https://bit.ly/task-two-01-4pm - Score = 3 points

3. Submission Deadline: On or before 4pm, 1st of February, 2023 - Score = 3 points

1. Create a list containing 15 African names - Score = 7 points

    - This list should be named 'african_names'- Score = 3 points

In [15]:
african_names = [
  "Adeola",
  "Osarogie",
  "Tchidi",
  "Boman",
  "Ige",
  "Mugabe",
  "Kwaku",
  "Kofi",
  "Effiong",
  "Jabari",
  "Osazemen",
  "Esan",
  "Dipo",
  "Ndanusa",
  "Nwabueze",
]

print(f"{len(african_names)} African Names")
print(african_names)

15 African Names
['Adeola', 'Osarogie', 'Tchidi', 'Boman', 'Ige', 'Mugabe', 'Kwaku', 'Kofi', 'Effiong', 'Jabari', 'Osazemen', 'Esan', 'Dipo', 'Ndanusa', 'Nwabueze']

2. Create a second list containing 15 numbers - Score = 7 points

- This list should be named 'age'- Score = 3 points

In [19]:
age = [
  26,
  20,
  1,
  18,
  45,
  105,
  44,
  20,
  26,
  32,
  49,
  92,
  80,
  2,
  4,
]

print(f"{len(age)} Ages")
print(age)

15 Ages
[26, 20, 1, 18, 45, 105, 44, 20, 26, 32, 49, 92, 80, 2, 4]

3. Create a Pandas dataframe using the lists created in 1 and 2, the column names should be the name of each list - Score = 7 points

- The dataframe should be named 'africans_data' - Score = 3 points

In [20]:
import pandas as pd

africans_data = pd.DataFrame({
  'african_names': african_names,
  'age': age,
})

africans_data

   african_names  age
0         Adeola   26
1       Osarogie   20
2         Tchidi    1
3          Boman   18
4            Ige   45
5         Mugabe  105
6          Kwaku   44
7           Kofi   20
8        Effiong   26
9         Jabari   32
10      Osazemen   49
11          Esan   92
12          Dipo   80
13       Ndanusa    2
14      Nwabueze    4

4. Read the first 5 rows of the dataframe using a pandas method - Score = 10 points

In [21]:
africans_data.head(5)

  african_names  age
0        Adeola   26
1      Osarogie   20
2        Tchidi    1
3         Boman   18
4           Ige   45

### Scores

1. Instructions = 10 points

2. Question 1 = 10 points

3. Question 2 = 10 points

4. Question 3 = 10 points 

5. Question 4 = 10 points 

### Total Score = 50 points